.box {
  border: 5px solid #395f5f;
  padding: 50px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #96c0c0;
}


.title {
  color: #395f5f;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guesses{
  color: #395f5f;
  justify-content: center;
  display: flex;

}

.guess {
  color: #4c7f7f;
}


.userInput {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 400px;
  margin-bottom: 15px;
  color: pink;
}

.makeControl {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 450px;
}

.restartGame {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 425px;
}